@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80vh;

  color: #fff;
}

.slide{
  flex: 1;

  background-size: cover;
  background-position: center;
  cursor: pointer;

  position: relative;
  transition: 1.5s flex;
}

.slide h3{
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;

  transition: 0.5s opacity ease 1s;

  font-size: 20px;
}

.slide.active{
  flex: 10;
}

.slide.active h3{
  opacity: 1;
}